<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items | async">
    <ul class="list-group list-group-horizontal-sm">
      <li class="list-group-item">{{item.id}}</li>
      <li class="list-group-item">{{item.name}}</li>
      <li class="list-group-item">{{item.description}}</li>
      <li class="list-group-item">
        <button class="btn btn-success" (click)="editItem($event, item)">Edit</button>
      </li>
    </ul>
    <div *ngIf="this.editState && this.itemToEdit.id === item.id">
      <form class="form-check-label form-group form-inline">
        <div class="row">
          <div class="col col-form-label">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="item.name">
          </div>
          <div class="col col-form-label">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="item.description">
          </div>
        </div>
        <div class="col col-form-label">
          <button class="btn btn-primary" (click)="updateItem(item)">Update</button>
          <button class="btn btn-danger" (click)="deleteItem($event, item)">Delete</button>
        </div>
      </form>
    </div>
  </li>
</ul>
